@import "./mixin.scss";
:root {
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spcaing-xl: 4rem;

  --gap: 1.5rem;

  --white: #ffffff;

  --gray: #475569;
  --dark-gray: #1e2a3b;
  --light-gray: #cbd4e1;

  --indigo: #7a6dff;

  @include sm-breakpoint {
    --spacing-md: 1rem;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Poppins", sans-serif;
  color: var(--gray);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: rgb(226 226 247 / 15%);
  background-image: url("../images/Group\ 14bottom.svg");
  background-position: center 150%;
  background-repeat: no-repeat;
  @include md-breakpoint {
    background-position: center 140%;
  }
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*desde aqui */

h1 {
  font-size: 6rem;
  color: var(--dark-gray);
  line-height: 1;
  @include sm-breakpoint {
    font-size: 4rem;
  }
}
h2 {
  font-size: 2rem;
}
h3 + p {
  margin-block-start: var(--spacing-sm);
}
h2 + p {
  margin-block-start: var(--spacing-sm);
}
h1 + * {
  margin-block-start: var(--spacing-sm);
}

p + a {
  margin-block-start: var(--spacing-md);
}
button {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

input,
textarea {
  border: none;
}
