.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-sm);
  background: rgb(51,65,85);
  background: linear-gradient(171deg, rgba(51,65,85,1) 0%, rgba(26,25,37,1) 100%);
  box-shadow: 0px 5px 10px rgb(9 30 66 / 6%), 0px 1px 2px rgb(9 30 66 / 17%);
  border-radius: 7px;
  border-top: 1px solid #ffffff36;
  border-left: 1px solid #ffffff36;
  border-bottom: 1px solid hsl(240deg 10% 12%);
  border-right: 1px solid hsl(240deg 10% 12%);
  &__img {
    width: 100%;
    border-radius: 3.5px;
  }
  &__title {
    margin-block-start: var(--spacing-sm);
  }
  &__categories {
    padding: 0;
    margin: 0;
    margin-block-start: 1rem;
    list-style: none;
    display: flex;
    gap: 0.5rem;
  }
  &__category {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    color: #042414;
    background-color: #9cfcd78c;
    border-radius: 10px;
  }
  &__links {
    margin-block-start: var(--spacing-md);
  }
  &__link {
    color: var(--indigo);
    font-weight: 800;
    text-decoration: none;
    &:hover {
      color: var(--gray);
    }
  }
  &__link:last-child {
    margin-inline-start: var(--spacing-sm);
  }
}
