@import "../../styles/mixin";
.header {
  width: Min(90%, 60ch);
  text-align: center;
  z-index: 5;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-block: 6rem;
    background-image: url("../../images/background-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    @include sm-breakpoint{
      background-size: cover;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 800;
    color: var(--dark-gray);
    margin-block-end: var(--spacing-sm);
  }
  &__subtitle {
    background-image: url("../../images/Group\ 12title.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__text {
    max-width: 480px;
    margin: 0 auto;
  }
  &__button{
    display: flex;
    justify-content: center;
  }
}
