.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  box-shadow: 0 2px 1px rgb(0 0 0 / 8%), 0 5px 15px rgb(0 0 0 / 11%);

  background-color: white;
  &__logo {
    color: blue;
  }
  &__list {
    display: flex;
    margin: 0;
    list-style: none;
  }
  &__items {
    margin-inline-start: 2rem;
  }
  &__link {
    text-decoration: none;
    transition: color 250ms ease-in;
    &:hover {
      color: var(--indigo);
    }
  }
}
